on:
  workflow_dispatch:

jobs:
  import-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11' 
      - run: python -m pip install cdsapi datetime netCDF4 pandas python-dotenv requests
      - name: Download geospatial climate data for Australia
        env:
            CDSAPIKEY: ${{ secrets.CDSAPIKEY }}
        run: python au-current-obs.py
      - run: python global.py
      - run: rm Globe.csv North.csv South.csv
      - name: Commit and push changes
        uses: devops-infra/action-commit-push@master
        with:
          github_token: ${{ secrets.TOKEN }}
          commit_message: Push update back to repo